/* 总体 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 25px 0px;
}

/* 导航条 */
.navigator {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    color: var(--theme-color-thick-blue);
    font-size: 14px;

    width: 80%;
    height: 3em;
    margin: 0px auto;
    border: 1px solid var(--theme-color-thick-blue);

    border-radius: 5px;
}
.navigator > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}
.selected {
    border: none;
    background-color: var(--theme-color-thick-blue);
    color: white;
}

/* 内容区整体 */
.content {
    width: 80%;
    height: 80%;
    margin: 0px auto;
}

/* 多礼物上传内容页 */
.double {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.double > div {
    margin-top: 25px;
}

.icon {
    font-size: 200px;
}
input[type = "file"] {
    display: none;
}

.text {
    font-size: 15px;
}

.button button {
    font-size: 14px;
    border-radius: 5px;
    width: 5em;
    height: 2.5em;
    border: none;

    color: white;
    background-color: var(--theme-color-thick-grey);

    transition: all 250ms;
}
.button button:active {
    background-color: var(--theme-color-thin-grey);
    color: black;
}


/* 单礼物上传部分 */
.single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}
.single > form {
    width: 100%;
    height: 100%;
}
.single > form > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 2.5%;
}

.single > form > div > input {
    border: 1px solid #ccc;
    border-radius: 2.5px;

    font-size: 12px;
    line-height: 2.5em;

    width: 15em;
    height: 2em;

    outline: none;
}
.single > form > div > textarea {
    border: 1px solid #ccc;
    border-radius: 2.5px;

    font-size: 12px;
    line-height: 1.5em;

    width: 15em;
    height: 6em;

    outline: none;
}

.gift_img {
    justify-content: left !important;
}
.img_box, .info_box {
    width: 100px;
    height: 100px;
    margin-left: 25px;

    border-radius: 5px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.info_box {
    border: 1px solid #ccc;
}
.img_box > img {
    width: 100%;
}

.button_update > button {
    background-color: var(--theme-color-thick-grey);
    color: white;

    width: 6em;
    height: 2.5em;
    border: none;

    border-radius: 5px;
}
