/* 整体 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 导航条 */
.navigator {
    flex: 3;

    width: 100%;
    min-height: 2em;
    padding: 15px;

    background-color: var(--theme-color-thin-grey);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}
.navigator > div {
    width: 40%;
    height: 2em;

    line-height: 2em;
    text-align: center;
    color: white;

    user-select: none;
    cursor: pointer;
}
.new-gift {
    background-color: var(--theme-color-thin-blue);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.old-gift {
    background-color: var(--theme-color-strong-pink);

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 搜索框 */
.search-bar {
    flex: 16;

    width: 100%;

    background-color: var(--theme-color-thin-grey);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 90%;
}
.search-title {
    flex: 1;
}
.search-input {
    flex: 2;
}

.return-icon {
    position: absolute;
    left: 0;
    top: 0;

    font-weight: bold;
    font-size: 18px;

    color: var(--theme-color-thick-blue);

    cursor: pointer;
}

.search-text {
    color: var(--theme-color-thin-blue);
    font-size: 18px;

    position: relative;

    width: 100%;
    height: 1.5em;

    line-height: 1.5em;
    text-align: center;
}

.search-text > div {
    user-select: none;
}

.search-input > div {
    position: relative;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-value {
    width: 100%;
    border: none;
    height: 2em;

    border-radius: 5px;
    padding: 0px 20px;

    font-size: 15px;

    background-color: rgb(209, 205, 208);
}
.search-value:focus {
    outline: none;
}
.search-icon {
    position: absolute;
    left: 5px;

    font-weight: bold;
    color: var(--theme-color-thin-grey);
    text-shadow: 0 0 5px var(--theme-color-thick-grey);

    cursor: pointer;
}
.search-value::placeholder {
    color: var(--theme-color-thin-blue);
    line-height: 2em;
}

/* 内容区 */
.content {
    flex: 81;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    overflow: auto;
}

.list-head {
    background-color: var(--theme-color-thin-pink);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.list-head > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;

    height: 3em;

    user-select: none;
}

.list-content {
    width: 100%;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.list-item > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 10px;

    overflow: hidden;

    user-select: none;
}
.list-item img {
    width: 90%;
}

.list-item button {
    width: 4em;
    height: 2em;
    background-color: #ccc;

    border: none;
    outline: none;

    line-height: 2em;
    text-align: center;
}

.list-choose-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}
.list-choose-page > button {
    width: 5em;
    height: 2em;

    line-height: 2em;
    text-align: center;

    border: 1px solid var(--theme-color-thick-grey);
    outline: none;

    background-color: var(--theme-color-thin-grey);

    border-radius: 5px;

    color: black;
}
.list-choose-page > button:active {
    background-color: #999;
}
