/* 页面整体设置 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 页面名称及返回 */
.page-title {
    margin: 25px auto;
    width: 90%;
    height: auto;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.title {
    font-weight: bold;
    font-size: 20px;

    user-select: none;
}

.return-btn {
    position: absolute;

    left: 0px;
}
.return-btn > button {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;

    border-radius: 5px;

    font-size: 14px;

    width: 5em;
    height: 2em;
}

/* 导航条 */
.navigator {
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: auto;
}
.navigator > div {
    width: 6em;
    height: 3em;

    background-color: var(--theme-color-thick-grey);

    color: white;
    line-height: 3em;
    text-align: center;
    font-size: 14px;

    border-radius: 5px;

    cursor: pointer;
    user-select: none;
}

/* 问题内容区 */
.content {
    flex: 12;

    box-sizing: border-box;

    padding: 10px;
    width: 90%;
    margin: 25px auto;

    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    background-color: #eee;

    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
}

.content > .item {
    background-color: white;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 90px;
    padding: 9px 15px;
    margin-bottom: 5px;

    line-height: 24px;
    text-overflow: ellipsis;
    font-size: 16px;

    box-shadow: 0px 0px 5px #aaa inset;
}

.content > .item > .text {
    flex: 4;

    height: 90%;

    word-wrap: break-word;
    word-break: break-all;
}

.content > .item > .button {
    flex: 1;

    border-left: 1px solid rgba(222, 222, 222, 0.5);
    height: 90%;
    padding-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content > .item > .button > button {
    background-color: var(--theme-color-thick-grey);
    color: white;
    font-size: 14px;

    width: 5em;
    height: 2.5em;

    border: none;
    outline: none;

    border-radius: 5px;
}

/* 切页部分 */
.jumpPage {
    flex: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;

    margin-bottom: 25px;
}
.jumpPage > button {
    background-color: var(--theme-color-thick-grey);
    color: white;
    font-size: 14px;

    width: 6em;
    height: 2.5em;

    border: none;
    outline: none;

    border-radius: 5px;

    line-height: 2.5em;
    text-align: center;
}
