/* 页面整体设置 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 页面名称及返回 */
.page-title {
    margin: 25px auto;
    width: 90%;
    height: auto;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.title {
    font-weight: bold;
    font-size: 20px;

    user-select: none;
}

.return-btn {
    position: absolute;

    left: 0px;
}
.return-btn > button {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;

    border-radius: 5px;

    font-size: 14px;

    width: 5em;
    height: 2em;
}

/* 导航条 */
.navigator {
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: auto;
}
.navigator > div {
    width: 6em;
    height: 3em;

    background-color: var(--theme-color-thick-grey);

    color: white;
    line-height: 3em;
    text-align: center;
    font-size: 14px;

    border-radius: 5px;

    cursor: pointer;
    user-select: none;
}

/* 问题内容区 */
.content {
    flex: 12;

    box-sizing: border-box;

    padding: 10px;
    width: 90%;
    margin: 25px auto;

    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    background-color: #eee;

    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;

    font-size: 15px;
}

/* 表头部分 */
.list-head {
    flex: 1;

    width: 90%;
    height: 50px;
    padding: 0px 5px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    border-radius: 5px;
}
.list-head > div {
    flex: 1;

    width: 6em;
    height: 2em;

    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

/* 列表内容区 */
.list-content {
    flex: 12;

    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

/* 列表各项 */
.item {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;
    padding: 0px 5px;
    margin-bottom: 10px;

    line-height: 24px;
    text-overflow: ellipsis;
    font-size: 16px;

    border-radius: 5px;
}

.item > div {
    flex: 1;

    width: auto;
    height: 100%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item > .item-icon > img {
    width: 90%;

    box-shadow: 0px 0px 5px 0px #eee;
}

.item > .item-name {
    word-wrap: break-word;
    word-break: break-all;

    padding: 5px;
}

.item > .item-time {
    word-wrap: break-word;
    word-break: break-all;

    padding: 5px;
}

.item > .item-btn {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item > .item-btn > button {
    background-color: var(--theme-color-thick-grey);
    color: white;
    font-size: 14px;

    width: 4em;
    height: 2.5em;

    border: none;
    outline: none;

    border-radius: 5px;
}

/* 切页部分 */
.list-jumpPage {
    flex: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;

    margin-bottom: 25px;
    margin-top: 15px;
}
.list-jumpPage > button {
    background-color: var(--theme-color-thick-grey);
    color: white;
    font-size: 14px;

    width: 6em;
    height: 2.5em;

    border: none;
    outline: none;

    border-radius: 5px;

    line-height: 2.5em;
    text-align: center;
}
